
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-5" style="width: 100%">
        <div class="well">
            <form action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                    <div class="form-group">
                        <label for="username">{{ 'label.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'label.password'|trans }}</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <a href="{{path('security_reset_page')}}"> {{'login.password_reset' | trans({'%url%': path('security_reset_page')})}} </a>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
