{% extends 'admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block main %}

        <div class="well">
            <h1> {{ 'prices.title' | trans }} </h1>
            <p> {{ 'prices.edit' | trans }} </p>
        {{form_start(form)}}

        {% for price in form.prices %}
            <div class="row">
                <div class="column" style="flex:10%">
                    {{('label.' ~ price.vars.data.id) | trans}}
                </div>
                <div class="column" style="flex:40%">
                    {{ form_widget(price)}}
                </div>
            </div>
        {% endfor %}
        {{form_end(form)}}
    </div>

    <div class="well">
        <h1> {{'admin.title' | trans }} </h1>
        <p> {{'admin.edit' | trans }} </p>

        {{ form(adminForm) }}
     </div>

{% endblock %}
