{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="row">
     <div class="column">{{form(form)}}
         {% if is_granted('ROLE_ADMIN') %}
             <form action="{{path('admin_contract_pdf', {'id' : leaseRequest.id })}}"  style="text-align: center;">
                 <input class="btn btn-primary" type="submit" value="{{ 'contract.show' | trans }}" />
             </form>
         {% endif %}
    </div>
     <div class="column">
        <div style="display: flex; justify-content:space-between">
            <a class=" btn btn-default " > <i class="fa fa-check"></i> </a>
            <a class=" btn btn-default " ><i class="fa fa-file-contract"></i></a>
            <a class=" btn btn-default " ><i class="fa fa-file-signature"></i></a>
            <a class=" btn btn-default " ><i class="fa fa-beer"></i></a>
            <a class=" btn btn-default " ><i class="fab fa-creative-commons-nc-eu"></i></a>
            <a class=" btn btn-default " ><i class="fa fa-phone-slash "></i></a>
        </div>
        {{ include('blog/comments.html.twig') }}
     </div>
    </div>
{% endblock %}
