{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var hide_disabled_requests = true;
        $(function() {
            $("#cookie_accordion").accordion({heightStyle: 'content'});
            $("#cookie_accordion").show(); // Get rid of Flash Of Unrendered Content

            $(".status_disable").hide();
            $("#filter").click(function(){
                if (hide_disabled_requests){
                    $(".status_disable").show();
                } else {
                    $(".status_disable").hide();
                }
                $('#cookie_accordion').accordion("destroy").accordion({heightStyle: 'content'});
                hide_disabled_requests = !hide_disabled_requests;
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <style>
        .pagination > li > a {
            background-color: #CCC;
            color: #000;
        }
        .pagination > li > a:hover {
            background-color: #AAA;
        }
        .pagination > .disabled > span {
            background-color: #CCC;
            color: #000;
        }
        .pagination > .disabled > span:hover {
            background-color: #AAA;
        }
        .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
            background-color: #AAA;
            color: #000;
        }
    </style>
{% endblock %}

{% block main %}
    <div style="display:flex; justify-content: space-between;" > <h1>{{ 'title.post_list'|trans }}</h1> <input type="button" id="filter" class="btn btn-primary" value="{{'label.switch_hidden' | trans}}" style="margin: 5px"></div>

    <div id="cookie_accordion" style="display: none;">
        {% for request in posts %}
            {% if request.read %}
                <h3 class="{% if request.statusText == 'status.retracted' or request.statusText == 'status.rejected'%}status_disable{% endif %}">{{ request.author.fullName }} [{{ request.association }}]</h3>
            {% else %}
                <h3 class="{% if request.statusText == 'status.retracted' or request.statusText == 'status.rejected'%}status_disable{% endif %}"><i class="far fa-envelope"></i> <b>{{ request.author.fullName }} [{{ request.association }}]</b></h3>
            {% endif %}
            <div class="{% if request.statusText == 'status.retracted' or request.statusText == 'status.rejected'%}status_disable{% endif %}">
                <table class="table table-striped table-middle-aligned {% if request.statusText == 'status.retracted' or request.statusText == 'status.rejected'%}status_disable{% endif %}">
                  <tr>
                    <th>{{'label.name' | trans }}</th>
                    <th>{{'label.date' | trans }}</th>
                    <th>{{'label.phone' | trans }}</th>
                    <th>{{'label.status' | trans }}</th>
                    <th>{{'label.last_updated' | trans }}</th>
                  </tr>
                  <tr>
                    <td>{{request.author.fullname}}</td>
                    <td>{{request.startDate|date('d/m')}} - {{request.endDate|date('d/m')}}</td>
                    <td>{{request.author.phone}}</td>
                    <td>{{request.statusText | trans}}</td>
                    <td>{{request.publishedAt|date('Y-m-d')}}</td>
                  </tr>
                  <tr>
                    <td>{% if request.contractSigned %} {{'status.signed' | trans}} {% endif %}</td>
                    <td>{% if request.paid >= request.price + request.deposit %} {{'label.paid' | trans }} {% endif %}</td>
                    <td></td>
                    <td> {% if request.comments | first %}
                            {% if request.comments | first.author is same as(request.author) %}
                                {{'request.unanswerd' | trans}}
                            {% else %}
                                {{'request.answered' | trans({'%name%': request.comments | first.author.fullName})}}
                            {% endif %}
                        {% endif %}</td>
                    <td>
                        <div class="item-actions" style="display: flex;justify-content: space-between; width: 75%">
                            <a href="{{ path('admin_post_edit', {id: request.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                            </a>
                            {% if request.read %}
                                <a href="{{ path('admin_post_unread', {id: request.id}) }}" class="btn btn-sm btn-primary">
                                    <i class="far fa-envelope"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </table>
            </div>
        {% endfor %}
    </div>
    {% if posts.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'admin_blog_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
