{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block javascripts %}
{{ parent()}}
<script type="text/javascript">
    function handler(e){
        document.getElementById("lease_request_end_date").setAttribute("min", e.target.value);
    }
</script>
{% endblock %}

{% block main %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_row(form.summary)}}
    {{ form_row(form.association_type)}}
    {{ form_row(form.association)}}
    {{ form_row(form.start_date)}}
    {{ form_row(form.end_date)}}
    <div style="display: flex; flex-wrap: wrap">
        {{ form_row(form.key_deliver)}}
        <div style="width: 20px">
        </div>
        {{ form_row(form.key_return)}}
    </div>
    {{ form_row(form.num_attendants)}}
    {{ form_row(form.checked_calendar)}}<label for="{{ form.checked_calendar.vars.id }}">{{ txt|raw }}</label>
    {{ form_row(form.submit)}}
    {{ form_end(form)}}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
