<style>
    .container_comments {
        display: flex;
        flex-direction: column;
        border: inset;
        border-color: #2c3e50;
        background: #ecf0f1;
        border-radius: 5px;
        height: 500px;
        overflow: scroll;
    }

    .comment {
        padding: 10px;
    }
    hr {
        margin: 0px;
        border-color: #2c3e50;
    }

</style>

<div> {{form_start(commentForm)}}
    {{form_row(commentForm.content)}}
    {% if admin %}
    <div style="display: flex; justify-content:space-between">
        <div class=" btn btn-primary" id="default_1" > <i class="fa fa-check"></i> </div>
        <div class=" btn btn-primary" id="default_2" ><i class="fa fa-file-contract"></i></div>
        <div class=" btn btn-primary" id="default_3" ><i class="fa fa-file-signature"></i></div>
        <div class=" btn btn-primary" id="default_4" ><i class="fa fa-beer"></i></div>
        <div class=" btn btn-primary" id="default_5" ><i class="fab fa-creative-commons-nc-eu"></i></div>
        <div class=" btn btn-primary" id="default_6" ><i class="fa fa-phone-slash "></i></div>
    </div>
    {% endif %}
        {{form_row(commentForm.submit)}}
        {{form_end(commentForm)}}
</div>
<label>{% trans %}label.messages{% endtrans %}</label>
<div class="container_comments">
    {% for comment in leaseRequest.comments %}
           <div class="comment">  {{comment.author.fullName}}  ({{comment.publishedAt | date('d/m/Y')}}): <br><br>{{comment.content | nl2br }}</div> <hr/>
    {% endfor %}
 </div>
