{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}



{% block main %}
    <div class="row">
     <div class="column edit-data">
         {{ form_start(form)}}
         {{ form_row(form._token)}}
         {{ form_row(form.title)}}
         {{ form_row(form.summary)}}
         {{ form_row(form.association_type)}}
         {{ form_row(form.start_date)}}
         {{ form_row(form.end_date)}}
         <div style="display: flex; flex-wrap: wrap">
             {{ form_row(form.key_deliver)}}
             <div style="width: 20px">
             </div>
             {{ form_row(form.key_return)}}
         </div>
         {{ form_row(form.num_attendants)}}
         {{ form_row(form.price)}}
         {% if form.contract_signed is defined %}
             {{ form_row(form.contract_signed)}}
         {% else %}
            <div class="well form-group" style="display: flex; width=100%"> <i class="fa fa-check fa-5x text-success"></i> <div class=" text-success" style="width: 100%"> {{ 'label.signed' | trans}} <br> <a href="{{ path('contract_download', {id: form.vars.data.id}) }}" class="btn btn-primary">Download</a> </div> </div>
         {% endif %}
         {{ form_row(form.submit)}}
         {{ form_end(form)}}
     </div>
     <div class="column edit-comments">
         {{ include('blog/comments.html.twig') }}
     </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
