{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block stylesheets %}
{{ parent()}}

<style media="screen">
    .google_login {
        background: white;
        width: 100%;
    }

    ol>li {
        font-size: 11pt;
    }

    .faq_item {
        margin-left: 10px;
    }
</style>

{% endblock %}

{% block main %}

    <div class="column well" style="margin:5px">
        <p>
            {{ 'help.homepage' | trans | raw}}
        </p>
    </div>
    <br>
    <div class="row">
         <div class='login column'>
         <div class="well">
             <div class="btn white darken-4 col google_login">
                  <a href="{{path('connect_google')}}" style="text-transform:none">
                      <div class="left">
                          <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                      </div>
                      Login with Google
                  </a>
             </div>
         </div>
            <!-- {% if not app.user %} {{ include('security/login.html.twig') }} {% endif %} -->
         </div>
         {% include 'blog/faq_fragment.html.twig' %}
     </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
