{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
<div class="well"> <p>{{ 'overview' | trans }} </p>
<table class="table">
    <tr> <th scope="col">{{ 'lease.title' | trans}}</th><th scope="col">{{ 'lease.status' | trans}}</th> <th scope="col">{{ 'lease.date' | trans}}</th> <th scope="col">{{ 'lease.manage' | trans}}</th> </tr>
     {% for lease in leases %}
        <tr>
            <td> {{lease.title}} </td>
            <td> {{lease.statusText | trans}} </td>
            <td>{{ lease.startDate|date("d-m-Y") }}</td>
            <td>
                <form action="{{path('lease_edit', {slug: lease.slug})}}">
                    <input class="btn btn-primary" type="submit" value="{{ 'lease.edit' | trans }}" />
                </form>
            </td>
        </tr>
     {% endfor %}
</table>
</div>
<div class="well" style="align:center">
<form action="{{path('lease_add')}}"  style="text-align: center;">
    <input class="btn btn-primary" type="submit" value="{{ 'lease.new' | trans }}" />
</form>
</div>

{% endblock %}
